.select {
  position: relative; }
  .select .dropdown {
    position: absolute;
    top: 100%;
    left: -99999px; }
  .select.open .dropdown {
    left: 0px; }
  .select .option, .select .selected-option {
    cursor: pointer; }
