.better-select-dropdown {
  position: fixed;

  .option {
    cursor: pointer;
  }
}

.select {
  position: static;

  &.dont-position-dropdown {
    position: relative;

    .dropdown {
      top: 100%;
      left: -99999px;
    }
  }

  &.open {
    &.dont-position-dropdown {
      .dropdown {
        left: 0px;
      }
    }
  }

  .selected-option {
    cursor: pointer;
  }
}
